doctype
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title= title
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    style.
      body {
        padding-top: 20px;
      }
  body
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    .container
      table.table
        tr
          th Result
          th Date
          th Merge request
          th Commit
          th Message
          th Author
        for line in lines
          tr(class=(line.result === 'success' ? 'success': 'failure'))
            td= '[' + line.result.toUpperCase() + ']'
            td= line.time
            td= line.id
            td
              a(href=line.commitUrl)= line.commitId.slice(0, 7)
            td= line.commitMessage
            td= line.commitAuthor.name + '<' + line.commitAuthor.email + '>'
          if line.stdout
            tr(class=(line.result === 'success' ? 'success' : 'warning'))
              td
              td(colspan=5)
                p Output
                pre= line.stdout
